<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>footerTitle</key>
	<string>下一步</string>
	<key>headerTitle</key>
	<string>Token支付</string>
	<key>textFields</key>
	<array>
		<string>no_order</string>
		<string>money_order</string>
		<string>oid_partner</string>
		<string>flag_pay_product</string>
		<string>user_id</string>
		<string>notify_url</string>
		<string>flag_chnl</string>
		<string>platform</string>
		<string>name_goods</string>
		<string>info_order</string>
		<string>valid_order</string>
		<string>shareing_data</string>
		<string>id_type</string>
		<string>id_no</string>
		<string>acct_name</string>
		<string>card_no</string>
		<string>bind_mob</string>
		<string>no_agree</string>
	</array>
</dict>
</plist>
